target/
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
*.class
*.jar
*.war
*.ear
*.log
*.bak
*.swp
*.swo
*~
.DS_Store
.testcontainers.properties
.jqwik-database
.flattened-pom.xml
dependency-reduced-pom.xml
